body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: #1a1a2e;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url(/assets/images/fondEtoile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

img {
    border-radius: 45%;
    border: 4px black solid;
    width: 500px;
    max-width: 80vw;
    height: auto;
}

#gameCanvas {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    display: none;
    z-index: 1;
}

#gameInfos {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: left;
}

#gameInfos p {
    margin: 5px 0;
    color: #fff;
    font-weight: bold;
}

main {
    text-align: center;
    padding: 20px;
    margin: auto;
    position: relative;
    z-index: 5;
    width: 100%;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0 5px 15px rgba(234, 0, 255, 0.726);
}

p,
h2 {
    color: #a2a2c2;
    font-weight: 300;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

button,
input[type="button"] {
    background: #16213e;
    color: white;
    border: 2px solid #0f3460;
    padding: 12px 25px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover,
input[type="button"]:hover {
    background: #ae00ffb2;
    border-color: #940b94;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(234, 0, 255, 0.4);
}